.wrapper-snake{
    margin: 2rem auto 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    width: 65%;
    border-radius: 0px 5px 5px 0px;
}

.snake{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(14, auto);
}

.colum-snake {
    width: 35px;
    height: 35px;
    background-color: #eeeeee;
}

.colum-snake.food{
    background-image: url(../../global/phomai.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.colum-snake.move{
    background-image: url(../../global/snake.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 600px){
    .tetris1 { grid-area: down; }
    .tetris2 { grid-area: up; }
  
    .wrapper-snake{
        grid-template-columns: 1fr !important;
        width: 90% !important;
        grid-template-areas:
        'up'
        'down';
    }

    .colum-snake {
        width: 25px !important;
        height: 25px !important;
    }

    .guide {
        padding: 0 1rem 1.5rem 1rem !important;
    }
}