*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 90px;
  --mark-size: calc(var(--cell-size) * .3);
}

.layout-section-caro{
  padding: 2rem 0 4rem 0;
  position: relative;
}
  
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(12, auto)
}
  
.cell {
  width: 37px;
  height: 37px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9),
.cell:nth-child(10),
.cell:nth-child(11),
.cell:nth-child(12) {
  border-top: none;
}

.cell:nth-child(133),
.cell:nth-child(134),
.cell:nth-child(135),
.cell:nth-child(136),
.cell:nth-child(137),
.cell:nth-child(138),
.cell:nth-child(139),
.cell:nth-child(140),
.cell:nth-child(141),
.cell:nth-child(142),
.cell:nth-child(143),
.cell:nth-child(144) {
    border-bottom: none;
}

.cell:nth-child(12n + 1) {
    border-left: none;
}

.cell:nth-child(12n) {
    border-right: none;
}

.wrapper-caro{
  padding: 3rem 0;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  box-shadow: 0 0 0.25em 0.25em rgba(206, 206, 206, 0.25);
  position: relative;
}

.group-caro-board{
  border-right: 1px solid #e2e2e2;
}

hr{
  background-color: #b3b3b3;
}

.box-caro-user{
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.user-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 88%;
  gap: 10px;
}

.user-show{
  border-right: 1px solid #e2e2e2;
  padding-right: 1rem;
}

.user-chat{
  
}

.user-caro:first-child{
  height: 46%;
}

.user-caro:last-child{
  border-top: 1px solid #e2e2e2;
  padding-top: 1rem;
  height: 55%;
}

.image-user-caro{
  width: 90px;
  height: 80px;
  border-radius: 50%;
}

.name-user-caro{
  margin-left: 1rem;
  margin-top: .7rem;
}

.allow-play{
  text-align: center;
  margin-top: 2rem;
}

.box-send-message{
  padding: .5rem 0;
  display: flex;
  position: relative;
  top: 1.2rem;
}

.input-send-message{
  width: 75%;
  padding: .5rem 1rem;
  color: #000;
  background-color: #f0f0f0;
  outline: none;
  border: none;
  border-radius: 50px;
}

.btn-send-message{
  position: absolute;
  top: 15%;
  left: 76%;
  padding: .45rem 1.5rem;
  color: #fff;
  background-color: #4e525e;
  border-radius: 50px;
  cursor: pointer;
}

.box-chat{
  height: 18rem;
  font-size: .9rem;
  overflow-y: scroll;
  padding: 0 0 1rem 0;
  padding-right: .5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #f0f0f0; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e525e; 
  border-radius: 10px;
}

.padding-message-send{
  padding: .5rem 1.3rem;
  background-color: #4e525e;
  color: #fff;
  border-radius: 8px 7px 1px 8px;
}

.padding-message-receive{
  padding: .5rem 1.3rem;
  background-color: #f0f0f0;
  color: #000;
  border-radius: 8px 8px 8px 1px;
}

  
  .cell.x,
  .cell.o {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after{
    background-color: rgb(241, 60, 60);
  }

  .cell.o::before {
    background-color: black;
  }
  
  .board.x .cell:not(.x):not(.o):hover::before,
  .board.x .cell:not(.x):not(.o):hover::after,
  .board.o .cell:not(.x):not(.o):hover::before {
    background-color: lightgrey;
  }
  
  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.o):hover::before,
  .board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
  }
  
  .cell.x::before,
  .board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after,
  .board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.o::before,
  .cell.o::after,
  .board.o .cell:not(.x):not(.o):hover::before,
  .board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.o::before,
  .board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.o::after,
  .board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    z-index: 999;
  }
  
  .winning-message button {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }

.layout-room-caro{
  height: 427px;
  padding: 2rem 0;
}

.group-join-room{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.width-join-room{
  width: 28%;
}

.btn-create-room{
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #4e525e;
  padding: .8rem 0;
  cursor: pointer;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  box-shadow: 0 0 0.25em 0.25em rgba(206, 206, 206, 0.25);
}

.btn-create-room:hover{
  color: #fff;
  background-color: #3A3D47;
  transform: translateY(-3px);
}

.box-find-room{
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.input-find-room{
  width: 100%;
  padding: .8rem 0rem .8rem 2rem;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 0.25em 0.25em rgba(206, 206, 206, 0.25);
}

.btn-find-room{
  position: absolute;
  top: 0;
  left: 78%;
  padding: .8rem 2.5rem;
  color: #fff;
  background-color: #4e525e;
  border-radius: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btn-find-room:hover{
  color: #fff;
  background-color: #3A3D47;
}

.width-join-room-phone{
  display: none;
}

.header-caro-info{
  display: flex;
  justify-content: space-between;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

/* --------------------------------Loading-------------------------------- */
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* --------------------------------Loading-------------------------------- */

/* --------------------------------Loading---------------------------------- */

.spinner-message {
  width: 25%;
  padding: .5rem 1.3rem;
  background-color: #f7f7f7;
  color: #000;
  border-radius: 8px 8px 8px 1px;
}
.spinner-message>div {
  width: 10px;
  height: 10px;
  background-color: #ececec;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner-message .bounce1-message {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner-message .bounce2-message {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/* --------------------------------Loading---------------------------------- */


.msg-info-win{
  text-align: center;
  font-size: 3rem;
}

.caro-close{
  position: absolute;
  top: .5rem;
  left: 97%;
}

.caro-close a{
  font-size: 30px;
  color: #3A3D47;
  text-decoration: none;
}

.message{
  display: inline-flex;
}

.message-send{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.message-receive{
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.box-keyboard{
  margin-top: 1rem;
}

@media only screen and (max-width: 600px){
  .cell {
    width: 35px;
    height: 35px;
  }

  .width-join-room-phone{
    display: block !important;
    width: 85%;
  }

  .width-join-room{
    display: none !important;
  }

  .btn-find-room{
    left: 73.5%;
  }

  .item1 { grid-area: close; }
  .item2 { grid-area: user; }
  .item3 { grid-area: board; }

  .wrapper-caro{
    grid-template-columns: 1fr;
    padding: 3rem 1rem 1rem 1rem !important;
    margin: 0 1rem;
    grid-template-areas:
    'close'
    'user'
    'board';
  }

  .cell {
    width: 29px !important;
    height: 29px !important;
  }

  .group-caro-user{
    padding-bottom: 1rem !important;
  }

  .group-caro-board{
    border-top: 1px solid #e2e2e2 !important;
    padding-top: 1rem !important;
    border-right: none !important;
  }

  .header-caro-info{
    display: block !important;
  }

  .box-caro-user{
    padding: 1rem 0;
  }

  .user-list{
    grid-template-columns: auto !important;
  }

  .user-show {
    border-right: none !important;
    padding-right: none !important;
    margin: auto !important;
  }

  .user-caro:last-child {
    border-bottom: 1px solid #e2e2e2;
  }

  .input-send-message{
    width: 80% !important;
  }
  
  .btn-send-message{
    left: 81% !important;
  }

  .caro-close{
    position: absolute;
    top: .2rem;
    left: 92%;
  }

}


