body{
    /* background-color: #f0f0f0; */
    font-family: 'Raleway', sans-serif;
    background-image: url(./global/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.group-home-title{
    padding-top: 2rem;
}

@media only screen and (max-width: 600px) {

}